<div class="row">
<h2>Albums</h2>
</div>
<div class="row">
  <% album.forEach(album => { %>
    <div class="col s12 m6">
      <div class="card green accent-3">
        <div class="card-content white-text">
          <span class="card-title"><%= album.name %></span>
          <p> <%= album.location %></p>
          <p> <%= album.year.getFullYear() %></p>
        </div>
        <div class="card-action">
          <a href="/albums/<%= album._id %>" class="green-text">View Album</a>
          <a href="/albums/<%= album._id %>/edit" class="orange-text">Edit Album</a>
        </div>
      </div>
    </div>
  <% }); %>
</div>
